.Synonyms {
  margin: 15px 0;
  padding: 0;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  line-height: 1;
  border: 1px solid rgb(79, 143, 39);
  border-radius: 4px;
  color: white;
  background-color: rgb(79, 143, 39);
}
